//ヘッダーメニュー
.mainHeader {
  // background: -moz-linear-gradient(top, #000, rgba(0, 0, 0, 0.1));
  // background: -webkit-linear-gradient(top, #000, rgba(0, 0, 0, 0.8));
  // background: linear-gradient(95deg, #000, rgba(0, 0, 0, 0.7));
  margin: 50px 0 0 50px;
  display: -webkit-flex;
  display: flex;
  position: fixed;
  justify-content: space-between;
  z-index: 1;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 15px;
  background-color: #000;


  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      width: 200px;
      text-align: left;
    }

    a {
      display: block;
      text-decoration: none;
      padding: 0.9em;
      color:#fff;
    }

    a:hover {
      background: #FFF;
      color: #000;

    }
  }
}
